{% extends "base.html" %}
{% block title %}Suply Walrus - Cart Display{% endblock %}

{% block content %}
<h1 class="display-4">Cart</h1>
<div>
  {% if count == 0 %}
  <p>There are no products in your cart.</p>
  <p> Browse our catalog to add items. </p>
  {% else %}
  <p>There are {{ count }} Products in your Cart.</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart.get_items() %}
        <tr>
            <td>{{ item.get_product().get_name() }}</td>
            <td>
                <form action="" method="POST">
                    <a href="{{url_for('subtract_quantity', id = item.get_product().get_product_id())}}">
                        <input value="-" class = "btn btn-primary btn-sm">
                    </a>
                </form>
                {{item.get_quantity() }}
                <form action="" method="POST">
                    <a href="{{url_for('subtract_quantity', id = item.get_product().get_product_id())}}">
                        <input value="+" class = "btn btn-primary btn-sm">
                    </a>
                </form>
            </td>
            <td> {{ item.get_product().get_price() }}</td>
            <td>
            <form action="" method="POST">
                <a href="{{url_for('remove_from_cart', id = item.get_product().get_product_id())}}">
                    <input value="Remove from Cart" class="btn btn-danger">
                </a>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    {% endif %}
</div>
{% endblock %}
