{% extends 'base.html' %}

{% block content %}
<h2>Invoice</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    {% for item in cart.values() %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price * item.quantity }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3" align="right">Total</td>
        <td>{{ total_cost }}</td>
    </tr>
</table>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.payment_method() }}
    {{ form.submit() }}
</form>
{% endblock %}
