{% extends "base.html" %}
{% block title %}Suply Walrus - Home{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Product</h1>

<h2 style="text-align:center">Product Card</h2>

<div class="card">
  <img src="" alt="" style="width:100%">
  <h1>Clothes</h1>
  <p class="price">$19.99</p>
  <p>Good choice for clothes!</p>

<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.product_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.quantity, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.price, class="form-control") }}
  </div>
    <input type="submit" value="Add to Cart" class="btn btn-primary"/>
</form>
</div>
{% endblock %}

